.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0px;
  padding: 0px;
  background: #c5d1c8;
}

.error {
  text-align: center;
  font-size: 8px;
  color: red;
}

.logo {
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #e95c0a;
}

.logo span {
  color: #6d19db;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card {
  color: #fff;
  background-color: #2b2b2a;
  border-radius: 8px;
}