<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/accessDenied.css}">

    <title>Access Denied</title>
</head>

<body>
    <i class='bx bx-error-circle'></i>
    <h1 class="error-message"> Access Denied</h1>
    <p class="error-info">Sorry, you do not have the privileges to access this page.</p>
    
</body>

</html>