<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@5.15.4/css/all.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/stlye2.css}" />
    <title>Student Result</title>

</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" th:href="@{/}"><i class='bx bxs-dashboard'></i> Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">

                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/students}"><i class='bx bxs-group'></i> Student Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/courses}"><i class='bx bxs-book'></i> Course Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/scores}"><i class='bx bxs-bar-chart-alt-2'></i>Score Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: red;" th:href="@{/logout}"><i class='bx bx-log-out'></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="student-details col-lg-6 col-md-16 col-sm-6 col-xs-6 col-xl-6 col-xxl-6 justify-content-center mx-auto mt-3 mb-2">
            <div class="name w-100 mx-auto text-center">
                <span
                    th:text="${student.firstName.substring(0,1).toUpperCase() + student.firstName.substring(1)}"></span>
                <span
                    th:text="${' ' + student.lastName.substring(0,1).toUpperCase() + student.lastName.substring(1)}"></span>

            </div>
            <div class="row w-100 h-100">
                <div class="col text-left">
                    <div class="text">Highest Score:</div>
                    <div class="text">Lowest Score:</div>
                    <div class="text"> Average score:
                    </div>
                </div>
                <div class="col text-right">
                    <div class="text " th:text="${scoreStat.highestScore}"></div>
                    <div class="text " th:text="${scoreStat.lowestScore}"></div>
                    <div class="text " th:text="${scoreStat.averageScore}"></div>
                </div>
            </div>
        </div>

        <table class="table  table-striped ">
            <thead>
                <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Course Code</th>
                    <th scope="col">Score</th>
                    <th scope="col">Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="scoreDto : ${scoreDtoList}">
                    <td th:text="${scoreDto.courseName}"></td>
                    <td th:text="${scoreDto.courseCode}"></td>
                    <td th:text="${scoreDto.score}"></td>
                    <td th:text="${scoreDto.grade}"></td>
                </tr>
            </tbody>
        </table>

    </div>



    <div class="fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-right ">
                        <a th:href="@{/studentResultPdf/{id} (id=${student.id})}" class=" btn btn-primary">Print</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>